# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

In [2]:
# Install missing library.
!pip install pymongo
!pip install dnspython

Requirement already satisfied: pymongo in /Users/borjamartinavarro/opt/anaconda3/lib/python3.8/site-packages (3.12.1)
Requirement already satisfied: dnspython in /Users/borjamartinavarro/opt/anaconda3/lib/python3.8/site-packages (2.1.0)

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [5]:
# Title Imports.
import pymongo
from pprint import pprint
from random import randint

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [36]:
# Import MongoClient.
from pymongo import MongoClient

In [37]:
# Connect to mongodb cluster.
client = pymongo.MongoClient("mongodb+srv://daps2021:Bmsbms12@cluster0.lleak.mongodb.net/Cluster0?retryWrites=true&w=majority")
db = client.test

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [38]:
serverStatusResult=db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1637602222, 2),
                  'signature': {'hash': b'\xc5\xd3\xc8\xf6\x84\nN\xcb'
                                        b'\x17\xcfR\x18\xd5\xa5\x86\x9e'
                                        b':\x7f\xdd\xf0',
                                'keyId': 6988107529431547907}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '5f6870150e1606a80e2eaa2258c64b1b5e7dd5b0',
                  'version': '20211117.0.0.1636741791'},
 'connections': {'available': 486, 'current': 14, 'totalCreated': 34},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'cluster0-shard-00-02.lleak.mongodb.net:27017',
 'localTime': datetime.datetime(2021, 11, 22, 17, 30, 23, 435000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0},
             'atlas': {'connectionPool': {'totalCreated': 31068}}},
 'network': {'bytesIn': 62114, 'bytesOut': 1000512, 'numRequests': 497},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 2281834126, 'ops': 484},
                 'reads': {'latency': 0, 'ops': 0},
                 'writes': {'latency': 0, 'ops': 0}},
 'opcounters': {'command': 495,
                'delete': 0,
                'deprecated': {'getmore': 0, 'query': 0},
                'getmore': 0,
                'insert': 0,
                'query': 0,
                'update': 0},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'deprecated': {'getmore': 0, 'query': 0},
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1637602222, 2),
 'pid': 198381,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff0000000000000041'),
          'hosts': ['cluster0-shard-00-00.lleak.mongodb.net:27017',
                    'cluster0-shard-00-01.lleak.mongodb.net:27017',
                    'cluster0-shard-00-02.lleak.mongodb.net:27017'],
          'ismaster': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2021, 11, 22, 17, 30, 22),
                        'majorityOpTime': {'t': 65,
                                           'ts': Timestamp(1637602222, 2)},
                        'majorityWriteDate': datetime.datetime(2021, 11, 22, 17, 30, 22),
                        'opTime': {'t': 65, 'ts': Timestamp(1637602222, 2)}},
          'me': 'cluster0-shard-00-02.lleak.mongodb.net:27017',
          'primary': 'cluster0-shard-00-02.lleak.mongodb.net:27017',
          'rbid': 1,
          'secondary': False,
          'setName': 'atlas-ms8ryt-shard-0',
          'setVersion': 6,
          'tags': {'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'EU_WEST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 6,
                              'processId': ObjectId('618fc807a03ca7f2123cf66e')}},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 0,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1637602183, 2),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsSnapshotReadConcern': True,
                   'supportsTwoPhaseIndexBuild': True},
 'uptime': 789416.0,
 'uptimeEstimate': 789416,
 'uptimeMillis': 789416124,
 'version': '4.4.10'}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [153]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student=[]
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))],
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
print(student)

[{'name': 'Natalia Palmer', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Alex Palmer', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Anna Baker', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Maria Roberts', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Mike Armstrong', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Mike Peterson', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Natalia Turner', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Alex Turner', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Anna Peterson', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Natalia Adams', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Alex Armstrong', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Andrew Palmer', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Mike Turner', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Anna Baker', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Natalia Turner', 'DAPS_assignment': 9, 'reviewer': 'Laura'}, {'name': 'Alex Adams', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Maria Roberts', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Natalia Adams', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Ellie Roberts', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Maria Roberts', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Andrew Peterson', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Andrew Baker', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Alex Roberts', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Ellie Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Natalia Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Mike Turner', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Andrew Roberts', 'DAPS_assignment': 6, 'reviewer': 'Laura'}]



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [154]:
# Create a database object called “students”.
db = client.students

In [157]:
mycol.remove()

/var/folders/__/9h6t1gb167q96r0r54xl3ymr0000gn/T/ipykernel_913/803832492.py:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  mycol.remove()

{'n': 145, 'ok': 1.0}

In [160]:
# Upload this database using insert_one or insert_many commands.

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Cluster0"]
mycol = mydb["DAPS Students"]

x = mycol.insert_many(student)

# Print list of the _id values of the inserted documents.
print(x.inserted_ids)

########## OR ##########
#for i, x in enumerate(student):
#  result=db.reviews.insert_one(x)
#  print('Created {0} of 29 as {1}'.format(i,result.inserted_id))

[ObjectId('619be93992671a514ee783d8'), ObjectId('619be93992671a514ee783d9'), ObjectId('619be93992671a514ee783da'), ObjectId('619be93992671a514ee783db'), ObjectId('619be93992671a514ee783dc'), ObjectId('619be93992671a514ee783dd'), ObjectId('619be93992671a514ee783de'), ObjectId('619be93992671a514ee783df'), ObjectId('619be93992671a514ee783e0'), ObjectId('619be93992671a514ee783e1'), ObjectId('619be93992671a514ee783e2'), ObjectId('619be93992671a514ee783e3'), ObjectId('619be93992671a514ee783e4'), ObjectId('619be93992671a514ee783e5'), ObjectId('619be93992671a514ee783e6'), ObjectId('619be93992671a514ee783e7'), ObjectId('619be93992671a514ee783e8'), ObjectId('619be93992671a514ee783e9'), ObjectId('619be93992671a514ee783ea'), ObjectId('619be93992671a514ee783eb'), ObjectId('619be93992671a514ee783ec'), ObjectId('619be93992671a514ee783ed'), ObjectId('619be93992671a514ee783ee'), ObjectId('619be93992671a514ee783ef'), ObjectId('619be93992671a514ee783f0'), ObjectId('619be93992671a514ee783f1'), ObjectId('619be93992671a514ee783f2'), ObjectId('619be93992671a514ee783f3'), ObjectId('619be93992671a514ee783f4')]

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [164]:
# Find one student with final DAPS_assignment score equal 5.
just_passed = mycol.find_one({ "DAPS_assignment": 5 })

just_passed

{'_id': ObjectId('619be93992671a514ee783db'),
 'name': 'Anna Baker',
 'DAPS_assignment': 5,
 'reviewer': 'Laura'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [205]:
eight_three = list(mycol.find({ "$or":[ 
    {"DAPS_assignment" : 3}, 
    {"DAPS_assignment" : 8} 
]}))

eight_three

########## OR ##########
#stu_3 = db.reviews.find({'DAPS_assignment': 3}).count()
#stu_8 = db.reviews.find({'DAPS_assignment': 8}).count()
#print(stu_3+stu_8)

[{'_id': ObjectId('619be93992671a514ee783e7'),
  'name': 'Anna Baker',
  'DAPS_assignment': 3,
  'reviewer': 'Laura'},
 {'_id': ObjectId('619be93992671a514ee783ea'),
  'name': 'Maria Roberts',
  'DAPS_assignment': 8,
  'reviewer': 'Laura'},
 {'_id': ObjectId('619be93992671a514ee783ed'),
  'name': 'Maria Roberts',
  'DAPS_assignment': 3,
  'reviewer': 'Laura'},
 {'_id': ObjectId('619be93992671a514ee783f2'),
  'name': 'Natalia Armstrong',
  'DAPS_assignment': 3,
  'reviewer': 'Laura'},
 {'_id': ObjectId('619be93992671a514ee783f3'),
  'name': 'Mike Turner',
  'DAPS_assignment': 3,
  'reviewer': 'Miguel'}]

In [209]:
# Total number of students to satisfy these conditions (in this array).
len(eight_three)

5

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [228]:
# This affect Anna Peterson and Alex Adams. 
updated_grades = list(mycol.update({ "$and":[ 
    {"reviewer": "Laura"},
    {"DAPS_assignment": 4}
    ]},
    {"$set": { "DAPS_assignment": 5 }}
))

########## OR ##########
#stu_4 = db.reviews.find({'DAPS_assignment': 4})
#for stu in stu_4:
#  print(stu)
#  result = db.reviews.update_one({'_id' : stu.get('_id') }, {'$inc': {'DAPS_assignment': 1}})

#stu_4 = db.reviews.find({'DAPS_assignment': 4})
#pprint(stu_4)

/var/folders/__/9h6t1gb167q96r0r54xl3ymr0000gn/T/ipykernel_913/1860963777.py:2: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  updated_grades = list(mycol.update({ "$and":[

In [232]:
check_new_grades = list(mycol.find({ "$and":[ 
    {"DAPS_assignment" : 4}, 
    {"reviewer" : "Laura"} 
]}))

check_new_grades

[]

In [233]:
len(check_new_grades)

0

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [234]:
# Remover all students with Laura as their reviewer.
remove_laura = mycol.remove( {"reviewer": "Laura"})

########## OR ##########
# Use "delete_many" function.

/var/folders/__/9h6t1gb167q96r0r54xl3ymr0000gn/T/ipykernel_913/3535478376.py:2: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  remove_laura = mycol.remove( {"reviewer": "Laura"})

In [237]:
check_if_removed = list(mycol.find({ "reviewer": "Laura" }))

check_if_removed

[]

In [238]:
len(check_if_removed)

0

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap